*{
  box-sizing: border-box;  
}
body{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

#root{
  height: 100vh;
}

.container{
  height: calc(100% - 80px);
  font-size: 1rem;
  color: #3f51b5;
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.custom-input{
  width: 150px;
  margin: 0 10px 0 0 !important;
}

.time-input {
  width: 180px;
}

.custom-input .MuiInputBase-input, .time-input .MuiInputBase-input{
  padding: 8px 12px 9px 12px !important
}

.MuiSelect-outlined{
  width: 136px !important;
  padding: 8px 32px 9px 12px !important
}

.MuiInput-underline:before{
  border-bottom: 1px solid rgb(255 255 255 / 42%) !important
}

a{
  text-decoration: none;
  color: #fff
}

.white-font{
  color:#fff
}

.action-bar{
  margin: 50px 0 0 0
}

.total-count{
  font-size:5rem
}

.header-total-count{
  position: absolute;
  right: 24px;
  font-size: .825rem;
}

.thanks-icon{
  width: 100px;
}

.app-footer{
  background: #3f51b5;
  font-size: .825rem;
  height: 32px;
  padding: 8px 16px;
}

.counter{
  float: right
}

.no-internet{
  position: absolute;
  bottom:32px;
  padding: 2px;
  width:100%;
  font-size: .8rem;
  text-align: center;
  background-color: red;
}