body{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.custom-input{
  width: 150px;
  margin: 0 10px 0 0 !important;
}

.time-input {
  width: 180px;
}

.custom-input .MuiInputBase-input, .time-input .MuiInputBase-input{
  padding: 8px 12px 9px 12px !important
}

.MuiSelect-outlined{
  width: 136px !important;
  padding: 8px 32px 9px 12px !important
}

.MuiInput-underline:before{
  border-bottom: 1px solid rgb(255 255 255 / 42%) !important
}